/* cart.css */
h2{
  text-align: center;
  margin-top: 30px !important;
}

.empty-cart-message {
  font-size: 1.5rem;
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.cart-main {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position:top;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 1.2rem;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.cart-summary button {
  padding: 10px 20px;
  background-color: #333; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.cart-summary button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-summary {
    flex-direction: column;
    gap: 10px;
  }
}
